In [17]:
import pandas as pd
import numpy as np
file_to_load = "JEOPARDY_CSV.csv"
Show_data = pd.read_csv(file_to_load)
print(Show_data.head())

   Show Number    Air Date      Round                         Category  Value  \
0         4680  12/31/2004  Jeopardy!                          HISTORY  $200
1         4680  12/31/2004  Jeopardy!  ESPN's TOP 10 ALL-TIME ATHLETES  $200
2         4680  12/31/2004  Jeopardy!      EVERYBODY TALKS ABOUT IT...  $200
3         4680  12/31/2004  Jeopardy!                 THE COMPANY LINE  $200
4         4680  12/31/2004  Jeopardy!              EPITAPHS & TRIBUTES  $200

                                            Question      Answer
0  For the last 8 years of his life, Galileo was ...  Copernicus
1  No. 2: 1912 Olympian; football star at Carlisl...  Jim Thorpe
2  The city of Yuma in this state has a record av...     Arizona
3  In 1963, live on "The Art Linkletter Show", th...  McDonald's
4  Signer of the Dec. of Indep., framer of the Co...  John Adams

In [23]:
show_data2 = pd.DataFrame(Show_data)
show_data2.shape[0]

216930

In [56]:
#Show_data.columns = ['Show Number', 'Air Date', 'Round', 'Category', 'Value',
       'Question', 'Answer']
#years_1 = Show_data["Air Date"].count()
#years_1
#years_2 = pd.DataFrame(years_1)

216930

In [58]:
show_unique = Show_data.groupby()

AttributeError: 'Series' object has no attribute 'value_count'